/* Importando a fonte Montserrat do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;1,600&display=swap');

/* Resetando estilos padrão e aplicando a fonte Montserrat como fonte principal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Estilo do cabeçalho */
header {
    background-color: #354488;
}

/* Estilo do corpo da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #4e5aa1;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/* Estilo do logotipo */
#logo {
    width: 25%;
    left: 20%;
    border-radius: 70%;
    margin-left: 5%;
}

/* Estilo do contêiner principal */
.container {
    position: relative;
    width: 400px;
    height: 100px;
    left: 5%;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 16px;
    padding: 20px;
    color: #fff;
   
}

/* Estilo da caixa de pesquisa */
.search-box {
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}

/* Estilo do ícone de pesquisa */
.search-box i {
    position: absolute;
    left: 10px;
    font-size: 28px;
}

/* Estilo da caixa de entrada de pesquisa */
.search-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 2555, .2);
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 42px;
}

/* Estilo do texto de espaço reservado na caixa de pesquisa */
.search-box input::placeholder {
    color: #fff;
    text-transform: capitalize;
}

/* Estilo do botão de pesquisa */
.search-box button {
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 28px;
    color: #fff;
    padding: 0 40px 0 5px;
    cursor: pointer;
}

/* Estilo da caixa do tempo */
.weather-box {
    text-align: center;
    margin: 40px 0;
}

/* Ocultando elementos até que sejam ativados */
.weather-box, .weather-details, .not-found {
    overflow: hidden;
    visibility: hidden;
}

/* Ativando elementos quando a classe .active está presente */
.weather-box.active, .weather-details.active, .not-found.active {
    visibility: visible;
}

/* Transição para esconder elementos */
.weather-box .box,
.not-found .box {
    transform: translateY(-100%);
}

/* Transição para mostrar informações do tempo */
.weather-box .box .info-weather {
    transform: translateY(-120%);
}

/* Transição para mostrar detalhes do tempo quando o contêiner está ativo */
.container.active .weather-details .humidity .info-humidity,
.container.active .weather-details .wind .info-wind,
.container.active .weather-box .box .info-weather {
    transform: translateY(0%);
    transition: transform 1s ease;
}

/* Transição para mostrar elementos quando estão ativos */
.weather-box.active .box,
.not-found.active .box {
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: .6s;
}

/* Estilo da imagem do tempo */
.weather-box img {
    width: 60%;
}

/* Estilo da temperatura */
.weather-box .temperature {
    position: relative;
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    margin: 20px 0 6px -30px;
    color: #fff;
}

/* Estilo do símbolo de grau */
.weather-box .temperature span {
    position: absolute;
    font-size: 24px;
    margin-left: 4px;
}

/* Estilo da descrição do tempo */
.weather-box .description {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

/* Estilo dos detalhes do tempo */
.weather-details {
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
}
/* Estilo dos detalhes de umidade e vento nos detalhes do tempo */
.weather-details .humidity, .weather-details .wind {
    display: flex;
    align-items: center;
    width: 50%;
  
}

/* Estilo da animação de ocultar umidade e vento nos detalhes do tempo */
.weather-details .humidity .info-humidity, .weather-details .wind .info-wind {
    transform: translateY(-100%);
    overflow: hidden;
}

/* Transição para mostrar umidade e vento nos detalhes do tempo quando ativos */
.weather-details.active .humidity, .weather-details.active .wind {
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: 1.2s;
}

/* Estilo do bloco de umidade nos detalhes do tempo */
.weather-details .humidity {
    padding-left: 20px;
    justify-content: flex-start;
}

/* Estilo do bloco de vento nos detalhes do tempo */
.weather-details .wind {
    padding: 2px;
    justify-content: flex-end;
}

/* Estilo do ícone nos detalhes do tempo */
.weather-details i {
    font-size: 56px;
    margin-right: 10px;
}

/* Estilo do texto nos detalhes do tempo */
.weather-details span {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
}

/* Estilo do parágrafo nos detalhes do tempo */
.weather-details p {
    font-size: 14px;
    font-weight: 500;
}

/* Estilo da mensagem de não encontrado */
.not-found {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 110px;
}

/* Estilo da imagem de não encontrado */
.not-found img {
    width: 65%;
}

/* Estilo do parágrafo de não encontrado */
.not-found p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 12px;
}

/* Ocultar elemento com a classe 'city-hide' */
.city-hide {
    display: none;
}

/* Estilos dos elementos clonados */
#clone-info-weather,
#clone-info-humidity,
#clone-info-wind {
    position: absolute;
    transform: translateY(-100%);
}

/* Transição para mostrar o clonado dos detalhes do tempo */
#clone-info-weather .weather {
    transform: translateY(120%);
    transition: transform 1s ease, opacity 8s;
    transition-delay: 0s, 10s;
}

/* Esconder clonado do tempo quando o contêiner não está ativo */
.weather-box:not(.active) #clone-info-weather .weather {
    opacity: 0;
    transition-delay: 0s;
}

/* Mostrar clonado dos detalhes do tempo quando ativo */
.active-clone#clone-info-weather .weather {
    transform: translateY(0%);
}

/* Transição para mostrar clonado de umidade e vento nos detalhes do tempo */
#clone-info-humidity span,
#clone-info-wind span {
    transform: translateY(100%);
    transition: transform 1s ease;
}

/* Transição para mostrar clonado de umidade e vento nos detalhes do tempo quando ativos */
.active.clone#clone-info-humidity span,
.active.clone#clone-info-wind span {
    transform: translateY(0%);
}